@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

input[type="search"]::-webkit-search-decoration{
  display: none
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
}

input,
button,
select,
textarea {
  margin: 0;
  outline: 0;
  vertical-align: middle;
  background-color: transparent;
}
button:focus {
  outline: none;
}

#forgot-password {
  font-weight: 300;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  #container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #presentation {
    display: none;
  }

  #avatar-description {
    display: none !important;
  }
}

.prose h3,
.prose h2,
.prose h1 {
  @apply my-6 text-black dark:text-white
}

.prose p {
  @apply my-4
}

.prose p > code {
  @apply border rounded-sm m-1 p-1 bg-primaryLight bg-opacity-50 dark:bg-primaryDark dark:bg-opacity-50
}

.prose a {
  @apply underline text-blue
}

.prose p ,
.prose li {
  @apply text-black dark:text-white
}

.prose li {
  @apply list-disc list-inside
}

.prose pre {
  @apply bg-primaryLight bg-opacity-10 dark:bg-primaryDark dark:bg-opacity-10 p-4 overflow-auto border border-gray-200 dark:border-gray-700 dark:bg-gray-900 my-4;
}

.prose code {
  @apply p-0 text-xs md:text-sm;
}

.token.keyword,
.token.keyword.module {
  @apply text-purple
}

.token.property {
  @apply text-green
}

.token.boolean,
.token.maybe-class-name {
  @apply text-red
}

.token.string {
  @apply text-greenToken
}

.token.function,
.token.property-access {
  @apply text-yellow
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}